/* =========================

Al-Madrasa 
This code for evaluation developer Mohamed A. El Bahrawy 
Bahrawy.dev@gmail.com

============================*/

/* Color codes used in the theme */

$white      : #ffffff;
$green      : #1d9046;
$green2     : #47c180;
$green3     : #1d9046;
$gold       : #ffbe58;
$red        : #e0474e;
$red2       : #da2e04;
$darkBlue   : #475677;
$lightGrey  : #f5f5f5;
$lightGrey2 : #E4E4E4;
$lightGrey3 : #f9f9f9;
$medGrey    : #444444;
$medGrey2   : #737373;
$darkGrey   : #1c2022;

/* === Mixins ===*/

@mixin transition ($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition   : all $time ease-in-out;
  -ms-transition    : all $time ease-in-out;
  -o-transition     : all $time ease-in-out;
  transition        : all $time ease-in-out;
}

@mixin radius ($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  border-radius        : $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin shadow($hr, $ver, $radius, $spread, $color) {
  -webkit-box-shadow: $hr $ver $spread $color;
  box-shadow        : $hr $ver $spread $color;
}

/* ===Apply global RTL Direction ===*/
html {
  direction: rtl;
}

/*=== Adding global styling ===*/

* {
  text-align : right;
  font-family: 'Markazi Text', sans-serif;
}

h1 {
  font-size  : 60px;
  font-weight: 200;
  line-height: 60px;

  small {
    display    : block;
    font-family: sans-serif;
    font-size  : 18px;
    font-weight: 600;
  }

  &.center-heading {
    text-align: center;

    small {
      text-align: center;
    }
  }
}


h2 {
  font-size  : 40px;
  font-weight: 200;
  line-height: 40px;

  small {
    display    : block;
    font-family: sans-serif;
    font-size  : 16px;
    font-weight: 600;
  }

  &.center-heading {
    text-align: center;

    small {
      text-align: center;
    }
  }
}

h3 {
  font-size  : 30px;
  font-weight: 200;
  line-height: 30px;

  small {
    display    : block;
    font-family: sans-serif;
    font-size  : 14px;
    font-weight: 600;
  }

  &.center-heading {
    text-align: center;

    small {
      text-align: center;
    }
  }
}

h4 {
  font-size  : 20px;
  font-weight: 800;
  line-height: 20px;

  small {
    display    : block;
    font-family: sans-serif;
    font-size  : 12px;
    font-weight: 600;
  }

  &.center-heading {
    text-align: center;

    small {
      text-align: center;
    }
  }
}

p {
  font-size: 18px;
}

.bold-text {
  font-weight: 800;
}

a {
  text-decoration: none;
  color          : $darkBlue;
  font-size      : 20px;
  @include transition (200ms);

  &:hover {
    opacity: 0.5;
  }
}

.btn {
  background-color: $green2;
  color           : $white;
  display         : block;
  margin          : 0 auto;
  text-align      : center;
  max-width       : 150px;
  font-size       : 14px;
  font-weight     : 700;
  padding         : 10px 20px;
  @include shadow(0, 3px, 7px, -5px, black);
  @include radius(2px, 2px, 2px, 2px);

  &.btn-small {
    padding  : 10px 20px;
    font-size: 16px;
  }

  &.btn-loadMore {
    margin          : 30px 0;
    color           : $white;
    background-color: $medGrey;
  }

  &.btn-center {
    display: block;
    margin : 40px auto;
  }

  &.btn-wide {
    padding: 10px 80px;
  }
}

h1.site-logo {
  margin   : 0;
  display  : block;
  width    : 120px;
  font-size: 46px;
  color    : $darkGrey;

  &.white {
    color: $white;
  }

  span {
    color: $red2;
  }
}

.container-fluid {
  padding-right: 4rem;
  padding-left : 4rem;
  overflow     : hidden;
}

/*  === Top bar section === */

.top-bar {
  padding-top   : 20px;
  padding-bottom: 20px;

  .site-logo {
    float     : right;
    margin-top: 10px;

    h1 {
      font-size  : 34px;
      margin     : 0.0em 0;
      font-weight: 600;
    }
  }

  .site-tools {
    float: left;

    ul {
      margin-top: 30px;

      li {
        list-style: none;
        display   : inline-block;
        padding   : 0 10px;
        font-size : 20px;
      }
    }
  }
}

/*  === Nav menu section section === */

.top-nav {
  background-color: $lightGrey;

  .btn {
    float   : left;
    position: relative;
    top     : 30px;
  }

  .navbar {
    float : right;
    height: 100px;

    a {
      font-weight: 700;
      font-size  : 16px;
    }

    ul {
      margin  : 0;
      padding : 0;
      position: absolute;


      li {
        display: inline-block;
        padding: 35px 0px 35px 20px;

        &.active {
          a {
            border-bottom: 2px solid $green;
          }
        }
      }
    }

    li {

      i {
        margin: 0 5px 0 0;
      }

      &:hover .dropdown-content {
        display: block;
      }

      position: relative;

      ul {
        top      : 60px;
        min-width: 200px;
        display  : none;
        position : absolute;
        @include radius(4px, 4px, 4px, 4px);
        border: 1px solid $lightGrey2;

        svg {
          position: relative;
          top     : 10px;
          width   : 20px;
        }

        li {
          padding         : 10px 10px 10px 10px;
          display         : block !important;
          background-color: $white;

          &:not(:last-child) {
            border-bottom: 1px solid $lightGrey2;

          }

          &:hover {
            background-color: $lightGrey2;
            @include transition (200ms)
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.red-announce {
  background-color: $red;

  p {
    color  : $white;
    padding: 0px 0;
  }
}

/*  === Our courses section === */

.our-courses {
  margin: 40px 0;

  .course-items {
    width    : 80%;
    max-width: 900px;
    display  : block;
    margin   : auto;
    display  : flex;
    flex-wrap: wrap;

    .item {
      padding   : 40px 10px 10px;
      box-sizing: border-box;
      display   : inline-block;
      width     : 17.7%;
      margin    : 0 1% 20px;
      box-shadow: 0px 3px 7px -5px black;
      @include shadow(0, 3px, 7px, -5px, black);
      @include radius(500px, 500px, 500px, 500px);

      img {
        max-width : 70%;
        display   : block;
        margin    : auto;
        max-height: 60px;
      }

      p {
        text-align: center;
      }
    }
  }
}

/*  === Image banner section === */

.user-banner {
  background-color: $lightGrey2;

  img {
    width: 100%;
  }
}

/*  === courses grid section === */

.course-grid {
  h2 {
    margin-top   : 60px;
    margin-bottom: 40px;
  }

}

.grid-items {
  max-width: 80%;
  margin   : auto;

  div {
    padding-right: 0rem;
    padding-left : 0rem;
    position     : relative;
    margin-bottom: 20px;

    div {
      padding-right: 0.5rem;
      padding-left : 0.5rem;
      overflow     : hidden;

    }

    span.tag {
      position              : absolute;
      top                   : 0;
      left                  : 0.5rem;
      padding               : 8px 10px;
      background-color      : $gold;
      border-top-left-radius: 10px;
      @include radius(10px, 0, 0, 0)
    }

    img {
      width        : 100%;
      height       : 220px;
      object-fit   : cover;
      border-radius: 10px;
      @include shadow(0, 3px, 7px, -4px, black);
    }

    p {
      text-align : center;
      line-height: 18px;
      direction  : ltr;

      span.old-price {
        text-decoration: line-through;
        opacity        : 0.5;
      }
    }

    a.buy-button {
      background-color: $green;
      color           : $white;
      display         : block;
      @include radius(10px, 10px, 10px, 10px);
      padding   : 10px 20px;
      min-height: 20px;

      span {
        float: right;
      }

      i {
        float: left;
      }
    }
  }
}

/* === Video player section === */

.video-player {
  width: 100%;

  video {
    object-fit: cover;
    height    : 600px;
    position  : relative;
    bottom    : -6px;
  }
}


/* === Email subscription box === */

.email-subscription {
  direction: ltr;
  position : relative;

  input {
    width           : 100%;
    text-align      : left;
    background-color: $lightGrey;
    padding         : 20px;
    font-family     : sans-serif;
    font-weight     : bold;
    border          : none;
    font-size       : 12px;
    box-sizing      : border-box;
  }

  button {
    background-color: $green3;
    position        : absolute;
    top             : 10px;
    right           : 10px;
    font-family     : sans-serif;
    font-weight     : bold;
    border          : none;
    font-size       : 12px !important;
    padding         : 10px 40px !important;
  }
}

/* === Footer ===*/

.footer {
  background-color: $lightGrey3;
  margin-top      : 60px;
  padding         : 40px 0;

  hr {
    margin : 40px 0 20px;
    width  : 100%;
    opacity: 0.2;
  }

  form.email-subscription {
    input {
      direction       : rtl;
      text-align      : right;
      background-color: $white;
      font-weight     : 800;
      padding         : 15px;
      box-sizing      : border-box;
      margin-bottom   : 40px;
      @include shadow(0, 3px, 10px, -9px, black);
    }
  }

  p {
    font-family: sans-serif;
    font-size  : 14px;
    font-weight: 600;
  }

  small {
    font-family: sans-serif;
    font-weight: 600;
    opacity    : 0.5;


  }

  h3 {
    font-family  : sans-serif;
    font-family  : sans-serif;
    font-size    : 16px;
    font-weight  : 600;
    margin-bottom: 40px;
  }

  h4 {
    margin: 20px 0;
  }

  a {
    font-size      : 18px;
    text-decoration: underline;
  }

  ul {
    margin : 0;
    padding: 0;

    li {
      margin    : 0;
      padding   : 0;
      list-style: none;

    }

    &.payment-methods {
      margin-bottom: 20px;

      li {
        display: inline-block;
      }
    }
  }

  .social-links {
    li {
      margin : 6px;
      display: inline-block;

      a {
        color: $medGrey2;
      }
    }
  }
}


/*=== Media queries ===*/

@media screen and (max-width: 991.98px) {
  .course-items {

    width: 100% !important;

    .item {
      padding: 30px 5px 5px !important;
      width  : 22% !important;
      margin : 0 1% 20px !important;
    }
  }

  .grid-items {
    max-width: 100%;
  }

  section.video-player {
    video {
      height: 400px;
    }
  }

  .form-box {
    width: 80%;
  }

  .footer {
    p {
      font-size: 12px;
      padding  : 0 0 0 15px;
    }

    .payment-methods-box {
      ul.payment-methods {
        width  : 150px;
        display: block;
        margin : auto;
      }

      small {
        margin : 10px 0 30px;
        display: block;
      }
    }

    ul.social-links {
      display  : block;
      margin   : 20px auto 0;
      max-width: 150px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .grid-items {
    margin: 0;

    div.col-sm-3 {
      width: 50%;
    }
  }

  section.video-player {
    video {
      height: 300px;
    }
  }

  section.user-banner {
    img {
      height    : 250px;
      object-fit: cover;
    }
  }

  h1 {
    font-size  : 40px;
    line-height: 40px;

    small {
      font-size: 16px;
    }
  }

  h2 {
    font-size  : 30px;
    line-height: 30px;

    small {
      font-size: 14px;
    }
  }

  h3 {
    font-size  : 20px;
    line-height: 20px;
  }

  h3 {
    font-size  : 15px;
    line-height: 15px;
  }

  .course-items {
    .item {
      padding: 45px 5px 20px !important;
      ;
      width: 30% !important;
      ;
      margin: 0 1% 20px !important;
      ;
    }
  }

  .col-sm-12 {
    width: 100%;
  }

  .container-fluid {
    padding-right: 1.5rem;
    padding-left : 1.5rem;
    box-sizing   : border-box;
  }

  section.top-bar {
    padding-top   : 0px;
    padding-bottom: 10px;
  }

  section.top-nav {
    .navbar {
      height: 65px;
    }

    .btn {
      padding  : 8px 15px;
      font-size: 14px;
      top      : 15px;
    }

    ul#main-menu {
      a {
        font-size: 14px;
      }

      li {
        padding: 25px 0px 35px 8px;

        ul {
          li {
            padding: 8px 8px 8px 8px;
          }
        }
      }
    }
  }

  p {
    font-size: 16px;
  }
}